body {
background-color: darkgrey;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;

}

button {
    background-color: beige;
    color: azure;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

